link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&display=swap"

header {
	text-align: center;
    background: url('https://i.imgur.com/DmDJkyo.jpg');
    background-size: cover;
    color: white;
   }
div {
	text-align: center;
}

.profile {
	text-align: left;
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 0px 40px;
   }

a {
   	color: white;
   	font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 30px;
   }

h1 {
    font-size: 70px;
    font-family: 'Open Sans', sans-serif, weight="bold";
   }

.me {
   	margin: 40px 0px 0px 0px;
    background: black;
    border: 5px solid white;
    }

ul {
    padding: 10px;
    background: rgba(0,0,0,0.7);
   }
   
li {
    display: inline;
    padding: 0px 15px 0px 15px;
   }
h2 {
	text-align: center;
	font-size: 100px;
	font-family: 'Lato', sans-serif;
}
.gallery {
	display: inline;
	padding: 10px 20px 10px 20px;
	text-align: center;
	
}
.bimg {
	border: 5px solid black;
}
.caption {
	text-align: center;
	display: inline-block;
	max-width: 310px;
	padding: 20px 20px 50px 20px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: white;
}

